# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/angular/cache
.history

# Dependencies
# Node.js modules and caches
node_modules/
.npm/
.cache/

# Angular build output and caches
dist/
.angular/
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
libpeerconnection.log
testem.log

# IDE and editor settings
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment files
src/environments/environment*.ts

# Testing & Coverage
/coverage
/typings

# Sass and other caches
.sass-cache/
connect.lock

# System files
.DS_Store
Thumbs.db
