<nav class="navbar">
 <h2> <span (click)="goToHome()" style="cursor: pointer;">My Library</span></h2>
  <div class="navbar-center">
    <span (click)="goToMYbook()" style="cursor: pointer;">My books</span>
    <input 
  class="search-input" 
  type="text" 
  placeholder="Search for books..." 
  (keyup.enter)="searchBooks($event)"
/>
    <button class="button" (click)="goToLogin()">LogIn</button>
    <button class="button" (click)="goToRegister()">SignUp</button>
  </div>
  <div class="navbar-right">
    <span class="material-icons" (click)="toggleProfileMenu()">account_circle</span>
   
    <div *ngIf="isProfileMenuOpen" class="profile-menu">
      <div class="profile-menu-item" (click)="viewProfile()">View Profile</div>
      <div class="profile-menu-item" (click)="logout()">Logout</div>
    </div>
  </div>
</nav>
