<div class="sidenav">
    <h2> Emsi Library</h2>
    <div class="menu-item" >
        <span class="Dashbord">Dashbord</span>
        <span class="arrow" [class.open]="">▸</span>
      </div>
    <div class="menu-item" (click)="toggleBookManagement()">
      <span class="book">Book Management</span>
      <span class="arrow" [class.open]="showBookOptions">▸</span>
    </div>
    <div *ngIf="showBookOptions" class="submenu">
      <div class="submenu-item" id="add"><a href="/book-list">Add Book</a></div>
      <div class="submenu-item" id="update"><a href="/update-book">Update Book</a></div>
      <div class="submenu-item" id="delete"><a href="/delete-book">Delete Book</a></div>
    </div>
  
    <!-- User Management Section -->
    <div class="menu-item" (click)="toggleUserManagement()">
      <span class="usermanage">User Management</span>
      <span class="arrow" [class.open]="showUserOptions">▸</span>
    </div>
    <div *ngIf="showUserOptions" class="submenu">
      <div class="submenu-item" id="update"><a href="/update-user">Update User</a></div>
      <div class="submenu-item" id="delete"><a href="/delete-user">Delete User</a></div>
    </div>
  </div>
  