<app-nav *ngIf="showNavbar"></app-nav>
<div class="mybooks-container">
    <h2>My Reserved Books</h2>
  
    <div *ngIf="reservedBooks.length > 0; else noBooks" class="book-list">
      <div *ngFor="let book of reservedBooks; let i = index" class="book-item">
        <img [src]="'assets/images/' + book.image" alt="{{ book.titre }}" />
        <div class="book-details">
          <h3>{{ book.titre }}</h3>
          <p><span>Author:</span> {{ book.auteur }}</p>
          <p><span>Description:</span> {{ book.description }}</p>
          <p><span>Price:</span> {{ book.prix }} €</p>
          <button (click)="cancelReservation(i)">Cancel Reservation</button> <!-- Bouton pour annuler la réservation -->
        </div>
      </div>
    </div>
  
    <ng-template #noBooks>
      <p>You have not reserved any books yet.</p>
    </ng-template>
  </div>
  