/* Style général pour le container de la page */
.mybooks-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .mybooks-container h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
    color: #2c3e50;
  }
  
  /* Liste des livres */
  .book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 20px;
  }
  
  .book-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .book-item:hover {
    transform: translateY(-10px);
  }
  
  .book-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
  }
  
  .book-details {
    padding: 15px;
  }
  
  .book-details h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
  }
  
  .book-details p {
    font-size: 1rem;
    color: #777;
    margin: 5px 0;
  }
  
  .book-details p span {
    font-weight: bold;
  }
  
  /* Style pour l'indication de disponibilité */
  .book-item .out-of-stock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.7) url('../../../assets/books-img/outofstock.png') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
  }
  
  /* Si aucune réservation n'est effectuée */
  ng-template {
    text-align: center;
    font-size: 1.2rem;
    color: #777;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ddd;
  }
  
  .book-item:hover .book-details h3 {
    color: #2c3e50;
  }
  
  .book-item:hover .book-details p {
    color: #7f8c8d;
  }
  .book-item button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .book-item button:hover {
    background-color: #c0392b;
  }
  