<app-nav></app-nav>
  
  <!-- Filter Section -->
  <div class="filter-container">
    <label for="category">Filtrer par catégorie :</label>
    <select id="category" [(ngModel)]="selectedCategory">
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>
  </div>
  
  <!-- Book Grid Section -->
  <div class="book-grid">
    <div class="book-card" *ngFor="let livre of getFilteredBooks()" (click)="openBookDetails(livre)">
      <div class="card-image">
        <img [src]="livre.image" alt="{{ livre.titre }}" />
      </div>
      <div class="card-content">
        <h3>{{ livre.titre }}</h3>
        <p>Auteur : {{ livre.auteur }}</p>
        <p><strong>{{ livre.prix }} MAD</strong></p>
      </div>
      <div *ngIf="!livre.disponibilite" class="out-of-stock-overlay">Rupture de stock</div>
    </div>
  </div>
  
  <!-- Navigation -->
  