@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #header,
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  
  #header {
    position: relative;
    z-index: 1;
  }
  #portfolio {
    width: 110%;
  }
}
