/* Container principal pour la page de confirmation */
.confirmation-container {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
  }
  
  /* Titre principal */
  .confirmation-container h2 {
    font-size: 2rem;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  /* Détails du livre */
  .book-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #e0e0e0;
    padding-top: 20px;
    margin-top: 20px;
  }
  
  /* Style pour le titre du livre */
  .book-details h3 {
    font-size: 1.8rem;
    color: #f45709;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Image du livre */
  .book-details img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  
  /* Informations du livre */
  .book-details p {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
    line-height: 1.5;
  }
  
  .book-details span {
    font-weight: bold;
    color: #333;
  }
  
  /* Bouton de confirmation */
  button {
    background-color: #f45709;
    color: #fff;
    font-size: 1.1rem;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: block;
    width: 100%;
    margin-top: 30px;
    box-sizing: border-box;
  }
  
  /* Effet au survol du bouton */
  button:hover {
    background-color: #f45709;
    transform: translateY(-3px);
  }
  
  /* Effet d'ombre au survol du bouton */
  button:active {
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  /* Style de la page mobile */
  @media (max-width: 600px) {
    .confirmation-container {
      padding: 15px;
    }
  
    .book-details img {
      width: 150px;
      height: 225px;
    }
  
    .confirmation-container h2 {
      font-size: 1.5rem;
    }
  
    .book-details h3 {
      font-size: 1.5rem;
    }
  
    button {
      font-size: 1rem;
      padding: 10px 15px;
    }
  }
  