<app-nav></app-nav>

<div class="hero-image">
  <div class="hero-text">
    <h1>Bienvenue sur notre Bibliothèque</h1>
    <p>Découvrez les meilleurs livres ici.</p>
  </div>
</div>

<div class="book-list">
  <div *ngFor="let book of books">
    <app-book
      [title]="book.title"
      [author]="book.author"
      [description]="book.description"
      [image]="book.image"
      (bookClicked)="onBookClick(book)"
    ></app-book>
  </div>
</div>

<!-- Afficher BookDetailsComponent si un livre est sélectionné -->
<div *ngIf="selectedBook">
  <app-book-details
    [title]="selectedBook.title"
    [author]="selectedBook.author"
    [description]="selectedBook.description"
    [image]="selectedBook.image"
  ></app-book-details>
</div>
