<app-nav></app-nav>

<!-- Section Hero avec l'image de fond -->
<div class="hero-image">
  <div class="hero-text">
    <h1>Welcome to Your Library</h1>
    <p>Discover the Best Books Here.</p>
  </div>
</div>

<!-- Section Best Sellers -->
<div class="best-sellers">
  <h2>Best Sellers</h2>
</div>

<!-- Liste des livres Best Sellers (Affichage des 4 premiers livres) -->
<div class="book-list">
  <div *ngFor="let livre of livres.slice(0, 4)" class="book-item" (click)="onLivreClick(livre)">
    <img [src]="'assets/images/' + livre.image" alt="{{ livre.titre }}" />
    
    <!-- Afficher l'image "Rupture de stock" si le livre est en rupture -->
    <div *ngIf="!livre.disponibilite" class="out-of-stock"></div>
    
    <h3>{{ livre.titre }}</h3>
    <p>{{ livre.auteur }}</p>
  </div>
  
</div>

<!-- Masquer ou supprimer d'autres sections -->
<!-- Exemple: About Us, Developers Info, etc. -->
<!-- <section class="about-us">
  <h2>About Us</h2>
  <p>Information about the project and developers.</p>
</section> -->

