<app-nav></app-nav>

<div class="hero-image">
  <div class="hero-text">
    <h1>Wlecome to Your Library</h1>
    <p>Descover Tahe Best Books Here .</p>
  </div>
</div>

<!-- Liste des livres -->
<div class="book-list">
  <div *ngFor="let livre of livres" class="book-item" (click)="onLivreClick(livre)">
    <img [src]="'assets/images/' + livre.image" alt="{{ livre.titre }}" />
    
    <!-- Afficher l'image "Rupture de stock" si le livre est en rupture -->
    <div *ngIf="!livre.disponibilite" class="out-of-stock">
    </div>
    
    <h3>{{ livre.titre }}</h3>
    <p>{{ livre.auteur }}</p>
  </div>
</div>
