<app-sidenav></app-sidenav> <!-- Barre de navigation latérale -->
<div class="content">
  <app-nav></app-nav> <!-- Barre de navigation supérieure -->
  <div class="container">
    <h2>User List</h2>

    <!-- Bouton Ajouter utilisateur en haut à droite, affiché seulement si le formulaire n'est pas visible -->
    <div class="add-button-container" *ngIf="!newUser && !userEnCours">
      <button (click)="addUser()">Add User</button>
    </div>

    <!-- Formulaire d'ajout d'un utilisateur en haut de la liste, affiché si newUser est vrai -->
    <div *ngIf="newUser" class="add-form">
      <h3>Add User</h3>
      <label for="newUserName">Name:</label>
      <input id="newUserName" [(ngModel)]="newUser.name" type="text">

      <label for="newUserEmail">Email:</label>
      <input id="newUserEmail" [(ngModel)]="newUser.email" type="email">

      <label for="newBooksBorrowed">Books Borrowed:</label>
      <input id="newBooksBorrowed" [(ngModel)]="newUser.booksBorrowed" type="number">

      <label for="newReturnDate">Return Date:</label>
      <input id="newReturnDate" [(ngModel)]="newUser.returnDate" type="date">

      <button (click)="saveNewUser()">Save</button>
      <button (click)="cancelAdd()">Cancel</button>
    </div>

    <!-- Formulaire de modification, affiché si userEnCours est défini -->
    <div *ngIf="userEnCours" class="edit-form">
      <h3>Edit User</h3>
      <label for="editUserName">Name:</label>
      <input id="editUserName" [(ngModel)]="userEnCours.name" type="text">

      <label for="editUserEmail">Email:</label>
      <input id="editUserEmail" [(ngModel)]="userEnCours.email" type="email">

      <label for="editBooksBorrowed">Books Borrowed:</label>
      <input id="editBooksBorrowed" [(ngModel)]="userEnCours.booksBorrowed" type="number">

      <label for="editReturnDate">Return Date:</label>
      <input id="editReturnDate" [(ngModel)]="userEnCours.returnDate" type="date">

      <button (click)="saveUserChanges()">Save</button>
      <button (click)="cancelEdit()">Cancel</button>
    </div>

    <!-- Tableau des utilisateurs -->
    <table *ngIf="users.length > 0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Books Borrowed</th>
          <th>Return Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.booksBorrowed }}</td>
          <td>{{ user.returnDate | date:'MM/dd/yyyy' }}</td> <!-- Format date en anglais -->
          <td>
            <button (click)="editUser(user.id)">
              Edit
            </button>
            <button (click)="deleteUser(user.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="users.length === 0">No users found.</p>
  </div>
</div>
