/* Conteneur principal */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
  }
  .error-snackbar {
    background-color: #f44336;
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
  }
  
  /* Boîte de connexion */
  .login-box {
    display: flex;
    width: 900px; /* Largeur totale de la boîte */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
  }
  
  /* Section de connexion */
  .login-form {
    flex: 1; /* Prend la moitié de l'espace horizontalement */
    padding: 40px;
    background-color: #fff;
  }
  
  .login-form h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
  }
  
  .login-form p {
    color: #888;
    margin: 10px 0 20px;
  }
  
  .input-group {
    margin: 15px 0;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #f28853;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .forgot-password {
    display: block;
    margin-top: 10px;
    color: #f28853;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  /* Section d'inscription */
  .signup-box {
    flex: 1; /* Prend la moitié de l'espace horizontalement */
    padding: 40px;
    background-color: #f28853;
    color: #fff;
  }
  
  .signup-box h2 {
    margin: 0;
    font-size: 24px;
    color: #fff;
  }
  
  .signup-box p {
    margin: 20px 0;
    font-size: 14px;
    line-height: 1.6;
  }
  
  .register-button {
    padding: 10px 20px;
    background-color: rgb(251, 84, 62);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  