<div class="login-container">
    <div class="login-box">
      <div class="login-form">
        <h2>Login</h2>
        <p>Sign in to your account</p>
        <form>
          <div class="input-group">
            <input type="text" placeholder="Username" required />
          </div>
          <div class="input-group">
            <input type="password" placeholder="Password" required />
          </div>
          <button type="submit" class="login-button">Login</button>
          <a href="#" class="forgot-password">Forgot password?</a>
        </form>
      </div>
      <div class="signup-box">
        <h2>Sign up</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <button class="register-button" (click)="goToRegister()">Register Now!</button>
      </div>
    </div>
  </div>
  